.cancelDialog {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #333333;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.cancelDialog *.label.content {
    -fx-font-size: 20px;
    -fx-text-fill: #333333;
}

#confirmBtn {
    -fx-background-color: #b3261e;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#backBtn {
    -fx-background-color: #aeaeb2;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.cancelDialog *.header-panel {
    -fx-background-color: #FFFFFF;
}

.cancelDialog *.header-panel *.icon {
    -fx-display: hidden;
}

.cancelDialog *.header-panel *.label {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-size: 32px;
}