.vbox {
    -fx-background-color: #f0f0f0;
}

.label {
    -fx-label-padding: 0 0 0 0;
}

.menu-button{
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-max-width: Infinity;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 0.5em 0.5em 0.5em 2.5em;
    -fx-alignment: center-left;
}

.menu-button:focused {
    -fx-background-color: #390B91;
    -fx-text-fill: white;
}

.menu-button:pressed {
    -fx-background-color: #390B91;
    -fx-text-fill: white;
}

.logo-label {
    -fx-font-size: 36px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.search-field {
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.employee-name {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}

.employee-title {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-style: normal;
}

.profile-text {
    -fx-font-size: 32px;
    -fx-background-color: white;
}

.bell-text {
    -fx-font-size: 32px;
    -fx-background-color: white;
}

.title-label {
    -fx-font-family: "Arial";
    -fx-font-size: 36px;
    -fx-text-fill: black;
    -fx-font-weight: bolder;
}

.dynamic-vbox {
    -fx-background-color: white;
    -fx-border-width: 10;
    -fx-border-color: #f4f4f4 #f4f4f4 #f4f4f4 transparent;
    -fx-padding: 20;
}

.logo {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-style: italic;
}

.products-table .column-header {
    -fx-background-color: #310B91; /* Purple background color */
    -fx-text-fill: white;          /* White text color */
    -fx-font-size: 16px;           /* Font size */
    -fx-padding: 10px;             /* Padding around the text */
}

.products-table .column-header .label {
    -fx-text-fill: white;
}

.create-product-button-refresh-button {
    -fx-background-color: #310B91;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.create-product-button-refresh-button:hover {
    -fx-background-color: #926cf4;
}

.create-product-button-refresh-button:pressed {
    -fx-background-color: #310B91;
}

.parts-table .column-header {
    -fx-background-color: #310B91; /* Purple background color */
    -fx-text-fill: white;          /* White text color */
    -fx-font-size: 16px;           /* Font size */
    -fx-padding: 10px;             /* Padding around the text */
}

.parts-table .column-header .label {
    -fx-text-fill: white;
}

.add-parts-button {
    -fx-background-color: #310B91;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.add-parts-button:hover {
    -fx-background-color: #926cf4;
}

.add-parts-popup {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #390B91;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.close-button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 6px;
    -fx-text-fill: #D11A2A;
    -fx-border-color: #D11A2A;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.parts-table-label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.parts-table-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.parts-title-container {
    -fx-background-color: #310B91;
    -fx-padding: 10px;
}

.parts-title-label {
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.parts-title-sub-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}

.parts-grid-pane {
    padding: 10px 0;
}

<img src="application_logo.png">