.welcome-label {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
}

.login-box {
    -fx-background-color: white;
    -fx-border-radius: 30px;
    -fx-padding: 20px; /* Optional: Adds padding inside the VBox */
}

.login-button {
    -fx-background-color: #310B91;
    -fx-text-fill: white;           /* White text */
    -fx-font-size: 16px;            /* Font size */
    -fx-padding: 10px 20px;         /* Padding: top/bottom left/right */
    -fx-border-radius: 5px;         /* Rounded corners */
    -fx-background-radius: 5px;     /* Rounded corners */
}

.login-button:hover {
    -fx-background-color: #926cf4;
}

.login-button:pressed {
    -fx-background-color: #310B91;
}

.username-field {
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.password-field {
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.logo {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-style: italic;
}
.background {
    -fx-background-color: #310B91;
}
