.vbox {
    -fx-background-color: #f0f0f0;
}

.label {
    -fx-label-padding: 0 0 0 0;
}

.menu-button{
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-max-width: Infinity;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-alignment: center-left;
}

.menu-button:focused {
    -fx-background-color: #390B91;
    -fx-text-fill: white;
}

.menu-button:pressed {
    -fx-background-color: #390B91;
    -fx-text-fill: white;
}

.logo-label {
    -fx-font-size: 36px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.search-field {
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.employee-name {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}

.employee-title {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-style: normal;
}

.profile-text {
    -fx-font-size: 32px;
    -fx-background-color: white;
}

.bell-text {
    -fx-font-size: 32px;
    -fx-background-color: white;
}

.title-label {
    -fx-font-family: "Arial";
    -fx-font-size: 36px;
    -fx-text-fill: black;
    -fx-font-weight: bolder;
}

.dynamic-vbox {
    -fx-background-color: white;
    -fx-border-width: 10;
    -fx-border-color: #f4f4f4 #f4f4f4 #f4f4f4 transparent;
    -fx-padding: 20;
}

.logo {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-style: italic;
}

.products-table .column-header {
    -fx-background-color: #310B91; /* Purple background color */
    -fx-text-fill: white;          /* White text color */
    -fx-font-size: 16px;           /* Font size */
    -fx-padding: 10px;             /* Padding around the text */
}

.products-table .column-header .label {
    -fx-text-fill: white;
}

.create-product-button-refresh-button {
    -fx-background-color: #310B91;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.create-product-button-refresh-button:hover {
    -fx-background-color: #926cf4;
}

.create-product-button-refresh-button:pressed {
    -fx-background-color: #310B91;
}

.parts-table .column-header {
    -fx-background-color: #310B91; /* Purple background color */
    -fx-text-fill: white;          /* White text color */
    -fx-font-size: 16px;           /* Font size */
    -fx-padding: 10px;             /* Padding around the text */
}

.parts-table .column-header .label {
    -fx-text-fill: white;
}

.add-parts-button {
    -fx-background-color: #310B91;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.add-parts-button:hover {
    -fx-background-color: #926cf4;
}

.add-parts-popup {
    -fx-background-color: white;
    -fx-border-color: #390B91;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.close-button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 6px;
    -fx-text-fill: #D11A2A;
    -fx-border-color: #D11A2A;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.parts-table-label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.parts-table-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.parts-title-container {
    -fx-background-color: #310B91;
    -fx-padding: 10px;
}

.parts-title-label {
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.parts-title-sub-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}

.parts-grid-pane {
    padding: 10px 0;
}
.create-product-button {
    -fx-background-color: #310B91;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.create-product-button:hover {
    -fx-background-color: #926cf4;
}

.create-product-button:pressed {
    -fx-background-color: #310B91;
}

.create-product-button-small {
    -fx-background-color: #310B91;
    -fx-text-fill: white;
    -fx-font-size: 12px; /* Smaller font size */
    -fx-padding: 5px 10px; /* Smaller padding */
    -fx-border-radius: 4px; /* Slightly smaller border radius */
    -fx-background-radius: 4px; /* Slightly smaller background radius */
}

.create-product-button-small:hover {
    -fx-background-color: #926cf4;
}

.create-product-button-small:pressed {
    -fx-background-color: #310B91;
}


.welcome-label {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
}

.login-box {
    -fx-background-color: white;
    -fx-border-radius: 30px;
    -fx-padding: 20px;
}

.login-button {
    -fx-background-color: #310B91;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.login-button:hover {
    -fx-background-color: #926cf4;
}

.login-button:pressed {
    -fx-background-color: #310B91;
}

.username-field {
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.password-field {
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.login-error {
    -fx-border-color: red;
    -fx-border-radius: 5px;
    -fx-background-color: #ffe6e6;
}

.login-error-message {
    -fx-text-fill: red;
}

.logo {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-style: italic;
}

.background {
    -fx-background-color: #310B91;
}

.search-field {
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.title-label {
    -fx-font-family: "Arial";
    -fx-font-size: 36px;
    -fx-text-fill: black;
    -fx-font-weight: bolder;
}

.heading {
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.subheading {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#pendingWorkOrdersListView .list-cell {
    -fx-font-size: 20px;
}

.create-product-scrollpane {
    -fx-background-color: white;
}

.trash-button {
    -fx-font-size: 22px;
    -fx-style: bolder;
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-padding: 1px;
}

.trash-button:hover {
    -fx-text-fill: darkred;
    -fx-background-color: lightgray;
}

.work-orders-table-cell {
    -fx-font-size: 16px;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 1em;
}

.work-orders-table-cell-centered {
    -fx-font-size: 16px;
    -fx-alignment: center;
}

.alert {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    -fx-text-size: 30px;
}

.alert .header-panel {
    -fx-background-color: red;
}

.alert .header-panel .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.alert .content {
    -fx-text-fill: black;
}

.text-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.remove-employee-button {
    -fx-background-color: #c70000; /* Red */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.remove-employee-button:hover {
    -fx-background-color: #ff4d4d;
}

.initials-icon {
    -fx-min-width: 50px; /* Minimum width */
    -fx-min-height: 50px; /* Minimum height */
    -fx-background-color: #390B91; /* Background color */
    -fx-background-radius: 25px; /* Half of width/height for a circle */
    -fx-text-fill: #e4d7fc; /* Text color */
    -fx-font-weight: bold; /* Bold font */
    -fx-font-size: 20px; /* Font size */
    -fx-alignment: center; /* Align text to center */
    -fx-padding: 10px; /* Padding to center text within the circle */
}




<img src="application_logo.png">